/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Navbar */

.navbar{
  border-bottom: 2px solid black;
}

.nav-link::before{
  content:'';
  display: none;
  position: absolute;
  left: 0px;
  bottom:-7px ;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 166, 0);
}
.nav-link:focus.nav-link::before{
  display: block !important;
}

/* Accueil */

.accueil{
  overflow: hidden;
  background-image: url('./assets//images/accueilBg.jpg');
  background-size: cover;
  background-position: center;
  
}
.contact{
  background-color: rgba(3, 167, 112, 0.296);
  height: 100px;
}
.name{
  margin-top: 120px !important;
}
.row1{
  border: 2px solid white;
  border-bottom: 0px;
}
.waves{
  margin-top: -45px;
}
.waveBg{
  top: 1px;
}


@media screen and (max-width: 700px) {
  .navbar{
    background-color: rgba(0, 0, 0, 0.817);
  }
  .name{
    margin-top: 0px !important;
  }
  .contact{
    flex-direction: column;
    height: 200px;
  }
}